:root {
  --primary-color: #88498F;
  --secondary-color: #F7FFF7;
  --accent1-color: #251101;
  --accent2-color: #8ACB88;

  --accent3-color: #5688C7;
  /*just other option*/


  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Merriweather', serif;

  --headline-color-on-white: #251101;
  /* headlines on a white background */
  --headline-color-on-color: #F7FFF7;
  /* headlines on a colored background */
  --paragraph-color-on-white: #251101;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #F7FFF7;
  /* paragraph text on a colored background */
  --paragraph-background-color: #88498F;
  --nav-link-color: #F7FFF7;
  --nav-background-color: #88498F;
  --nav-hover-link-color: #251101;
  --nav-hover-background-color: #8ACB88;
}


body {
  min-width: 421px;
  margin: 0 auto;
  padding: 2em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 40%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

li {
  list-style: none;
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

header>h1,
header>h2 {
  color: var(--headline-color-on-color);
}

p,
li {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  list-style-type: none;
  display: flex;

}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#wireframes img {
  width: 90%;
}